@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #003056;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.demo {
    position: fixed;
}

.content {
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content h2 {
    -webkit-text-stroke: 2px rgb(66, 211, 61);
    color: transparent;
    font-size: 8em;
    line-height: .9em;
}

.content h2 c {
    color: #fff;
    -webkit-text-stroke: 0 #fff;
}

::-webkit-scrollbar {
    width: 0;
}

audio {
    height: 1000px;
}